
EmpiricalData/popgenomic/1kg_yoruba
ABC_Demography/Data/Parameters/Output/matrices/tree_dump/*
ABC_Demography/Data/Parameters/Output/matrices/training_matrices/*
FitnessEffects/Script/inference/distribution_dump/*
EmpiricalData/popgenomic/vep_coordinates/
FitnessEffects/Data/trees/Sel_* 
FitnessEffects/Data/trees/singleton/*
ABC_Demography/Script/log/*
