#List of folders to ignore (their contents wont show up)
#Folder termination means the folder wont be tracked. 
#Asterisk means the folder is tracked but its contents are not. 

EmpiricalData/popgenomic/vep_coordinates/inputs/variant_effect_output.txt
ABC_Demography/Data/Parameters/Output/matrices/tree_dump/*
ABC_Demography/Data/Parameters/Output/matrices/training_matrices/*
FitnessEffects/Script/log/*
FitnessEffects/Script/params/fixed/*
argDFE/FitnessEffects/Script/inference/log/*
FitnessEffects/Script/inference/distribution_dump/*
FitnessEffects/Data/trees/Matrices/simulated/*
FitnessEffects/Data/trees/MatrixInputs/*
FitnessEffects/Data/trees/Sel_*
FitnessEffects/Data/trees/singleton/*
